@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-size-large: 16px; /* grands titres */
    --font-size-medium: 14px; /* sous-titres */
    --font-size-base: 12px; /* texte simple */
  }

  html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Grands titres */
  h1, h2, h3 {
    font-size: var(--font-size-large);
    font-weight: 700;
  }

  /* Sous-titres */
  h4, h5, h6, .subtitle {
    font-size: var(--font-size-medium);
    font-weight: 500;
  }

  /* Texte courant */
  body, p, span, li, a, button, input, textarea {
    font-size: var(--font-size-base);
    font-weight: 400;
  }
}

@layer utilities {
  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }

  .text-roboto-lg {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-large) !important;
  }

  .text-roboto-md {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-medium) !important;
  }

  .text-roboto-base {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size-base) !important;
  }
}